#entry_01{
    top: 26.4%;
    left: 41%;
}
#entry_02{
    top: 12.6%;
    left: 58%;
}
#entry_03{
    top: calc(3.8% + 10px);
    left: 83.4%;
}
#entry_04{
    top: 21.3%;
    left: 84.6%;
}
#entry_05{
    top: 36.9%;
    left: 84.6%;
}
#entry_06{
    top: calc(72.2% - 10px);
    left: 85.4%;
}
#entry_07{
    top: 4.2%;
    left: 1.4%;
}