#entry_01{
    top: 6%;
    left: 15.5%;
}
#entry_02{
    top: 58%;
    left: 15.5%;
}
#entry_03{
    top: calc(60% - 10px);
    left: 39%;
}
#entry_04{
    top: 13.5%;
    left: 35%;
}
#entry_05{
    top: 6%;
    left: 50%;
}
#entry_06{
    top: 13.5%;
    left: 65%;
}
#entry_07{
    top: 6%;
    left: 80%;
}
#entry_08{
    top: calc(55.5% - 10px);
    left: 51.5%;
}
#entry_09{
    top: calc(60.3% - 10px);
    left: 63.8%;
}
#entry_10{
    top: calc(67.8% - 10px);
    left: 73.6%;
}
#entry_11{
    top: 32%;
    left: 15.5%;
}