#entry_01{
    top: 9.8%;
    left: 18%;
}
#entry_02{
    top: 55%;
    left: 18%;
}
#entry_03{
    top: 36%;
    left: 18%;
}
#entry_04{
    top: 13.5%;
    left: 35%;
}
#entry_05{
    top: 6%;
    left: 50%;
}
#entry_06{
    top: 13.5%;
    left: 65%;
}
#entry_07{
    top: 6%;
    left: 80%;
}
#entry_08{
    top: 55%;
    left: 49%;
}