.rooms{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 30%;
    left: 32.5%;
    width: 57.5%;
    background-color: aliceblue;
    justify-content: space-evenly;
}
.rooms a{
    position: relative;
}