.scrollframe{
    position: absolute;
    padding-top: 10px;
    left: 2.4%;
    top: 5%;
    background-color: rgba(255,255,255,0.8);
    overflow-y: auto;
    height: 89%;
    width: 95.1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    padding-top: 0.5em;
}
.credits{
    white-space: pre;
    font-size: 25px;
    text-align: left;
}
.gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0.5em 0px 1em 0px;

}
.gallery .promo_image{
    padding: 5em;
    width: 25vw;
}
.gallery .promo_credit{
    display: none;
}
.gallery .promo_credit:hover{
    background-color: white;
    display: inline;
}